<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta HTTP-EQUIV="pragma" CONTENT="no-cache">
    <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
    <meta HTTP-EQUIV="expires" CONTENT="0">
    <title>Login</title>
</head>
<body>
<form action="/doLogin" method="post">
    telephone: <input type="text" name="telephone">
    <br/>
    password: <input type="password" name="password">
    <br/>
    captcha: <input type="text" name="captcha">
    <br/>
    <button type="submit" value="login">login</button>
</form>
</body>
</html>