<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aotfx.mobile.dao.mapper.UserMapper">

    <select id="queryInfoByTelphone" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT telephone, user_name, password FROM user WHERE telephone = #{telephone,jdbcType=VARCHAR}
    </select>

    <insert id="insertUser"  parameterType="java.util.Map">
        INSERT INTO user ( telephone, user_name,password )
        VALUES (#{telephone}, #{user_name},#{password});
    </insert>
</mapper>